.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container .accountList {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-grow: 1;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.container .accountList::-webkit-scrollbar {
    display: none;
}

.container h2 {
    margin-bottom: 5px;
}

.containerBottom {
    width: 100%;
    display: flex;
    justify-content: center; /* Центрирует по горизонтали */
    margin-top: 10px;
}

.addAccountButton {
    padding: 10px 20px;
    background-color: #7300ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.addAccountButton:hover {
    background-color: #5103b0;
}
